@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-dominant: rgb(32, 2, 65);
  --clr-secondary: rgb(196, 169, 225);
  --clr-accent-1: rgb(147, 54, 247);
  --clr-accent-2: rgb(243, 243, 243);
  --clr-accent-3: rgb(205, 203, 203);
}

html {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 125%;
}

body {
  background-color: var(--clr-dominant);
  color: var(--clr-secondary);
  height: 100vh;
  line-height: 150%;

  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
}

li {
  list-style: none;
}

.form--input {
  display: inline-block;
  font-size: 14px;
  padding: 12px 12px;
  border-radius: 2px;
  border: none;
  background-color: var(--clr-accent-3);
  border-bottom: 2px solid var(--clr-accent-1);
  overflow: hidden;
  margin-right: 80px;
  transition: all 200ms ease-in-out;
}

.form--input:focus {
  outline: none;
  background-color: var(--clr-accent-2);
  border-bottom: 2px solid var(--clr-secondary);
}

.btn {
  cursor: pointer;
  padding: 12px 24px;
  box-shadow: 2px 2px 4px 1px var(--clr-dominant);
  border-radius: 4px;
  border: none;
}

.btn--add {
  background-color: var(--clr-accent-1);
  color: var(--clr-accent-2);
}

.list--container {
  margin-top: 24px;
}

.list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--clr-accent-2);
  color: var(--clr-dominant);

  padding: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  overflow: hidden;
}

.card--body__content {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.not--completed {
  border-left: 4px solid var(--clr-accent-1);
}

.btn--remove {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px;
  border-radius: 4;
  border: none;
}

.update--input {
  border: 0;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--clr-accent-2);
}

.update--input:focus {
  outline: none;
}
